.App {
  text-align: center;
}

body {
  background-image: url('./images/espaçosideral2.jpg');
  background-size: cover;
}

img {
  width: 200px;
}

h1 {
  color: white;
  text-align: center;
}

div {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2, p {
  text-shadow: 0 0 10px black;
}

.planet-card, .planets-dad {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.p {
  margin: 20px 5px;
}

main {
  margin: auto;
}
